* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}
html, body {
	width: 100%;
}
body {
	width: 100%;
	height: 100%;
	margin: 0;
	padding: 0;
	overflow-x: hidden;
}
h1, h2, h3, h4, h5, h6 {
	font-family: raleway;
	font-weight: 900;
}
h1 {
	font-size: 250%;
	font-weight: 900;
}
h2 {
	text-align: center;
	font-size: 200%;
}
h3 {
	margin-top: 1%;
	text-align: center;
	font-size: 200%;
}
p, ul {
	font-family: 'Open Sans';
}
ul {
	font-size: 150%;
	font-weight: 400;
}

header {
	width: 100%;
	max-width: 1920px;
	height: auto;
	padding-left: 25%;
	padding-right: 25%;
	padding-top: 1%;
	padding-bottom: 1%;
	box-sizing: border-box;
	display: flex;
	flex-direction: column;
	justify-content: center;
	position: sticky;
	top: 0;
	z-index: 1000;
	background-color: white;
	height: 87px;
}

.top-nav {
	display: flex;
	flex-direction: row;
	align-items: center;
	justify-content: space-between;
	height: 50px;
}
.menu {
	display: flex;
	flex-direction: row;
	list-style-type: none;
	text-align: right;
}
.menu li {
	display: inline-block;
	margin-left: 40px;
	overflow: hidden;
}
.menu li:last-child {
	margin-right: 0;
}
.menu li a {
	text-decoration: none;
	color: black;
	position: relative;
	padding-bottom: 2px;
}
.menu li a::before {
	content: '';
	position: absolute;
	bottom: 0;
	left: 50%;
	width: 0;
	height: 2px;
	background-color: #0077BE;
	transition: all 0.3s ease;
}
.menu li a:hover::before {
	width: 100%;
	left: 0;
}
.menu-button-container {
	display: none;
	height: 100%;
	width: 30px;
	cursor: pointer;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}
#menu-toggle {
	display: none;
}
.menu-button, .menu-button::before, .menu-button::after {
	display: block;
	background-color: black;
	position: absolute;
	height: 4px;
	width: 30px;
	transition: transform 400ms cubic-bezier(0.23, 1, 0.32, 1);
	border-radius: 2px;
}
.menu-button::before {
	content: '';
	margin-top: -8px;
}
.menu-button::after {
	content: '';
	margin-top: 8px;
}
#menu-toggle:checked+.menu-button-container .menu-button::before {
	margin-top: 0px;
	transform: rotate(405deg);
}
#menu-toggle:checked+.menu-button-container .menu-button {
	background: rgba(255, 255, 255, 0);
}
#menu-toggle:checked+.menu-button-container .menu-button::after {
	margin-top: 0px;
	transform: rotate(-405deg);
}

form {
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin: auto;
	gap: 10px;
	width: 50%;
	
}

input, textarea {
    font-family: 'Open Sans', sans-serif;
    padding: 8px;
    border: 1px solid #ccc;
    border-radius: 5px;
    outline: none;
    transition: border 0.2s ease-in-out;
}

input:focus, textarea:focus {
    border: 1px solid #3273dc; /* Bulma-inspirerad blå färg */
}

label {
    font-weight: 600;
    margin-bottom: 3px;
	font-family: 'Open Sans', sans-serif;
}

.text {
	height: auto;
	display: flex;
	flex-direction: column;
	margin: 0;
	justify-content: center;
}
.field-validation-error {
	font-family: 'Open Sans', sans-serif;
}

.text, .div3 {
	height: auto;
}
.text h2 {
	padding-bottom: 3%;
	text-align: center;
}
.intro h2 {
	padding-bottom: 5%;
}

.inputBtn {
	border: none;
	color: white;
	padding: 15px 32px;
	text-align: center;
	text-decoration: none;
	display: inline-block;
	font-size: 125%;
	margin-top: 7%;
	cursor: pointer;
	width: 148px;
	font-family: 'Open Sans';
	background: linear-gradient(to right, #0B3D02, #0077BE);
	border-radius: 20px
}

.alert {
    font-family: 'Raleway', sans-serif;
    padding: 15px;
    margin: 10px 0;
    border-radius: 5px;
    font-size: 16px;
    font-weight: bold;
    text-align: center;
    width: 100%;
}

.alert-success {
    background-color: #d4edda;
    color: #155724;
    border: 1px solid #c3e6cb;
}


.fish {
	margin: auto;
	width: 100%;
	justify-content: center;
	display: flex;
	flex-direction: column;
}

.service-item1 {
	width: 50%;
	margin: auto;
	padding: 3%;
	background: #0B3D02;
	color: white;
	border-radius: 30px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	margin-top: 2%;
}

.about {
	max-width: 800px;
	margin: auto;
}

.gradient-line {
	height: 10px;
	background: linear-gradient(to right, #0B3D02, #0077BE);
	margin-top: 1%;
	margin-bottom: 2%;
	margin-left: 25%;
	margin-right: 25%;
}
.persona1 {
	display: block;
	margin-left: 25%;
	width: 35%;
	clear: both;
}

.persona1 img, .persona2 img {
	border-radius: 50%;
	width: 50%;
	height: 50%;
	display: block;
	margin: auto;
	margin-bottom: 3%;
	background: linear-gradient(to top, #0B3D02, #0077BE);
	/* Ditt gradient-val */
	padding: 10px;
	background-clip: padding-box;
	box-sizing: border-box;
}
.persona1 h2 {
	text-align: center;
	margin-bottom: 2%;
}
.persona2 h2 {
	text-align: center;
	margin-bottom: 2%;
}
/* Footer */

footer {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 10px 5%;
	/* ger lite marginal inuti footern */
	background-color: white;
	color: black;
	position: relative;
	/* FÃ¶r att tillÃ¥ta absolut positionering av pseudo-elementet inom fottern. */
	margin-top: 5%;
}
footer:before {
	content: "";
	/* NÃ¶dvÃ¤ndigt fÃ¶r att pseudo-elementet ska visas. */
	height: 5px;
	width: 50%;
	/* Fyll hela fotterns bredd. */
	margin-left: 25%;
	margin-right: 25%;
	background: linear-gradient(to right, #0B3D02, #0077BE);
	position: absolute;
	top: 0;
	left: 0;
}
footer a {
	margin-right: 3%;
	flex-basis: 45%;
	/* tar upp 45% av bredden */
	text-align: right;
	/* hÃ¶gerjustera innehÃ¥llet */
	text-decoration: none; 
	color: inherit;
}
footer ul {
	flex-basis: 47%;
	/* tar upp 45% av bredden */
	font-family: 'Raleway', sans-serif;
	font-size: 100%;
	list-style-type: none;
	margin-top: 1%;
}
footer li {
	padding-bottom: 1%;
}
/* Ã„ndringar som sker vid 1540px */

@media (max-width: 1540px) {
	.menu-button-container {
		display: flex;
	}
	.menu {
		position: absolute;
		top: 87px;
		left: 0;
		flex-direction: column;
		width: 100%;
		justify-content: center;
		align-items: center;
	}
	#menu-toggle~.menu li {
		height: 0;
		margin: 0;
		padding: 0;
		border: 0;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	#menu-toggle:checked~.menu li {
		height: 2.5em;
		padding: 0.5em;
		transition: height 400ms cubic-bezier(0.23, 1, 0.32, 1);
	}
	.menu>li {
		display: flex;
		justify-content: center;
		margin: 0;
		padding: 0.5em 0;
		width: 100%;
		color: white;
		background-color: white;
	}
	.menu>li:not(:last-child) {
		border-bottom: 1px solid #444;
	}
}

@media (max-width: 1264px) {
	.content-row h2 {
		font-size: 150%;
	}
}


@media (max-width: 1024px) {
	.content-row {
		display: inline-block;
		width: 100%;
		flex-direction: column;
	}

	.inputBtn {
		border: none;
		color: white;
		text-align: center;
		font-size: 100%;
		margin: auto;
		margin-top: 7%;
	}
	.service-item1, .service-item2, .intro {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.intro {
		padding: 0%;
	}
	footer {
		flex-direction: column;
		/* Ã¤ndrar frÃ¥n horisontell till vertikal layout */
		align-items: center;
		justify-content: center;
	}
	footer h1, footer ul {
		flex-basis: 100%;
		/* tillÃ¥ter dem att ta upp hela bredden */
		text-align: center;
		/* centrerar texten */
	}
	.persona1, .persona2 {
		margin: auto;
		width: 100%;
		padding-left: 15%;
		padding-right: 15%;
		padding-top: 5%;
	}
	.gradient-line {
		height: 10px;
		background: linear-gradient(to right, #0B3D02, #0077BE);
		margin-top: 1%;
		margin-bottom: 2%;
		margin-left: 15%;
		margin-right: 15%;
	}

	form {
		max-width: 80%;
	}
}
/* Ã„ndringar som sker vid 600px */

@media (max-width: 600px) {
	.div3 {
		display: none;
	}
	.persona1 img, .persona2 img {
		display: none !important;
	}
	.content-row {
		margin: auto;
	}
	.text {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
	}
	.top-nav h1 {
		font-size: 150%;
	}
	.citat {
		width: 70%;
		margin-left: 15%;
		margin-right: 15%;
		padding-left: 0%;
		padding-right: 0%;
		font-size: 100%;
	}
	form {
		max-width: 100%;
	}
}